---
export interface Props {
  items: Array<any>;
}

const { items } = Astro.props as Props;
---

<div class="w-full pt-20" id="experience">
  <span class="title block font-medium text-xl text-zinc-200 mb-4">Experience</span>
  <div class="w-full flex flex-col">
    {
      items.map((data) => (
        <div class="w-full flex flex-col gap-1 pl-8 pb-14 last:pb-0 border-l last:border-transparent border-zinc-500 relative">
          <div class="flex w-4 min-w-4 h-4 bg-zinc-500 rounded-full absolute -left-2" />
          <span class="block text-xs text-zinc-500">{data.date}</span>
          <span class="text-lg text-zinc-200">{data.title}</span>
          <div class="text-lg text-zinc-200">
            <div class="inline">
              <a href={data.link} target="_blank" class="inline text-sm text-zinc-200 hover:text-zinc-50 hover:underline underline-offset-1">
                {data.company}
              </a>
            </div>
          </div>
          <ul class="list-disc block text-sm text-zinc-400 mt-2 pl-4">
            {data.description.map((description: any) => (
              <li>{description}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>
