---
import { SendIcon } from 'astro-feather';
---

<form id="my-form">
  <div class="w-full pt-20 flex flex-col gap-4" id="contact">
    <div class="w-full flex flex-col items-center justify-center gap-2">
      <div class="flex flex-wrap text-center items-center justify-center gap-4 w-full">
        <span class="font-medium text-xl text-zinc-200">Hello, my name is</span>
        <input id="name" name="name" type="text" placeholder="Name" required class="appearance-none text-center focus:bg-zinc-950 focus:border-zinc-200 focus:outline-none focus:shadow-outline border-b border-zinc-800 bg-zinc-950 max-w-60 w-full py-2 px-3 text-zinc-200" />
      </div>
      <div class="flex flex-wrap text-center items-center justify-center gap-4 w-full">
        <span class="font-medium text-xl text-zinc-200">I'm from</span>
        <input id="city" name="city" type="text" placeholder="City" required class="appearance-none text-center focus:bg-zinc-950 focus:border-zinc-200 focus:outline-none focus:shadow-outline border-b border-zinc-800 bg-zinc-950 max-w-80 w-full py-2 px-3 text-zinc-200" />
      </div>
    </div>

    <div class="flex flex-wrap text-center items-center justify-center gap-4 w-full">
      <span class="font-medium text-xl text-zinc-200">I would like to talk about</span>
      <div class="relative w-full max-w-40">
        <select id="subject" name="subject" required class="appearance-none text-center focus:bg-zinc-950 focus:border-zinc-200 focus:outline-none focus:shadow-outline border-b border-zinc-800 bg-zinc-950 w-full py-2 px-3 text-zinc-200">
          <option value="Budget">Budget</option>
          <option value="New project">New project</option>
          <option value="Doubts">Doubts</option>
          <option value="Other">Other</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-zinc-500">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center gap-4 w-full max-w-xl mx-auto">
      <textarea required name="message" placeholder="Message" id="message" rows="4" class="resize-none appearance-none text-center focus:bg-zinc-950 focus:border-zinc-200 focus:outline-none focus:shadow-outline rounded-xl border border-zinc-800 bg-zinc-950 w-full py-2 px-3 text-zinc-200"></textarea>
    </div>

    <div class="w-full mt-4">
      <button id="send" class="mx-auto bg-zinc-300 hover:bg-zinc-50 text-zinc-900 rounded-xl h-12 text-sm px-5 py-3 flex items-center justify-center gap-2">
        <SendIcon size={18} strokeWidth={1} />
        <span>Send message</span>
      </button>
    </div>
  </div>
</form>

<style>
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    color: white !important;
    caret-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
</style>

<script>
  const whatsAppNumber = '5544998027802';
  const sampleForm: HTMLFormElement = document.querySelector('#my-form')!;

  sampleForm.addEventListener('submit', (e) => {
    console.log('formmm');
    e.preventDefault();
    const formData = new FormData(sampleForm);
    console.log('formData', formData);

    const entries = Object.fromEntries(formData.entries());
    console.log('entries', entries);

    const content = encodeURIComponent(`Hello, my name is *${entries.name}*, I'm from *${entries.city}*, I would like to talk about *${entries.subject}*. Message: *${entries.message}*`);
    const urlWhatsApp = `https://wa.me/${whatsAppNumber}?text=${content}`;
    window.open(urlWhatsApp);
  });
</script>
